__pycache__/
*.pyc
labeling/
testvideos/
Archive/
scripts/autoLabeler/SampleData/
scripts/settings.txt
scripts/outputs/
data/
outputs/*
!outputs/doPlan_submissions/
outputs/doPlan_submissions/*
!outputs/doPlan_submissions/release_annotationsV1.csv
